#header{
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90px;
}
#header h1{
  line-height: 90px;
  margin:0;
}

nav{
  font-size: 0.8em;
display: flex;
justify-content: space-evenly;
}
nav h2, nav a{
  margin: auto;
  padding: auto 20px;

}

#footer{
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
}