body{
  background: #77E8C9;
}

#header{
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90px;
  width: 100%;  
}
#header h1{
  line-height: 90px;
  margin:0;
}

nav{
  font-size: 0.8em;
display: flex;
justify-content: space-evenly;
}
nav h2, nav a{
  margin: auto;
  padding: 0 10px;

}

#footer{
  width: 100%;  
  background: gray;
  color: white;
  display: flex;
  justify-content: space-around;
}

#footer p{
  margin: auto 0;
}